<mat-toolbar class="toolbar">
    <span class="flex">
        <button class="name" mat-raised-button color="primary">{{name}}</button>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button class="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <button class="button" mat-button color="primary" (click)="activateComponent('home')">Home</button>
    <button class="button" mat-button color="primary" (click)="activateComponent('project')">Projects</button>
    <button class="button" mat-button color="primary" (click)="activateComponent('about')">About</button>
    <button class="button" mat-button color="primary" (click)="activateComponent('contact')">contact</button>
</mat-toolbar>
<div class="slider">
    <app-home id="home"></app-home>
    <app-projects id="project"></app-projects>
    <app-about id="about"></app-about>
    <app-contact id="contact"></app-contact>
    <app-footer></app-footer>
</div>