<div class="container">
    <div class="container">
        <header>
            <h1>About Us</h1>
            <p>Welcome to my IT student portfolio</p>
        </header>
        <div class="skills">
            <ul>
                <li>Web Development
                    <ul>
                        <li>Angular</li>
                        <li>html5</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </li>
                <li>Database
                    <ul>
                        <li>Sql</li>
                        <li>Firebase</li>
                    </ul>
                </li>
                <li>Programming
                    <ul>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Node</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>