.container{
    padding: 100px;
    /* top: 0; */
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style: square;
}

.skills {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.contact {
    margin-top: 20px;
}