<div>
  <div class="contain">
    <!-- <mat-toolbar class="toolbar">
      <span class="flex">
        <button class="name" mat-raised-button color="primary">{{name}}</button>
      </span>
      <button class="button" mat-button color="primary" (click)="activateComponent('home')">Home</button>
      <button class="button" mat-button color="primary" (click)="activateComponent('about')">About</button>
      <button class="button" mat-button color="primary" (click)="activateComponent('project')">Projects</button>
      <button class="button" mat-button color="primary" (click)="activateComponent('contact')">contact</button>
    </mat-toolbar> -->
    <!-- <ngb-carousel [interval]="3000" [showNavigationArrows]="arrow" *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" class="carousel" />
        </div>
        <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div>
      </ng-template>
    </ngb-carousel> -->
    <div class="image-container">
      <img src="../../../assets/1.jpg" alt="image">
      <div class="text-overlay">
        <p  id="name">I am <span>{{ currentName}}</span><span id="cursor">_</span></p>
      </div>
    </div>
  </div>
</div>