<div class="container">
  <h3>Currently working on projects.It will be adding soon</h3>
  <ngb-carousel [interval]="3000" [showNavigationArrows]="arrow" *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" class="carousel" />
      </div>
      <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>